* {
   box-sizing: border-box; 
}

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

#root {
    color: #404040;
    display: grid;
    height: 100%;
    grid-template-columns: 25% auto;
    grid-template-rows: 7% auto;
    grid-template-areas:
        "header header"
        "side-content main-content";
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    grid-area: header;
    border-bottom: solid 1px lightseagreen;
}

#app-name {
    font-size: 1.8em;
    border: none;
}

nav {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a {
    text-decoration: none;
    border-bottom: solid 1px rgb(52, 123, 146);
    color: rgb(52, 123, 146);
}

a:hover {
    opacity: 0.5;
}

nav a {
    transition: all 0.5s ease;
}

.active {
    font-size: 1.3em;
    color: lightseagreen;
    border: none;
}

#app-create {
    grid-area: side-content;
    display: flex;
    flex-direction: column;
    padding: 3% 10%;
    height: 80vh;
    font-size: 1.1em;
}

#app-create button {
    width: 50%;
    margin: 15% auto 0 auto;
}

input, select, #app-create button {
    border-radius: 5px;
    height: 25px;
    font-size: 13px;
}

#app-content {
    grid-area: main-content;
}

#app-home {
    padding-top: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#app-students {
    text-align: center;
}

#app-students > div {
    display: flex;
    flex-wrap: wrap;
}

.card {
    border-radius: 5px;
    border: solid 1px lightseagreen;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-width: 15em;
    width: 30%;
    height: 15em;
    margin: 1em;
    padding: 2% 0;
}

.txt-error {
    margin-top: 20px;
    color: tomato;
    font-size: 0.9em;
    font-weight: bold;
}